@font-face {
    font-family: "regular";
    src: url(/font/Poppins-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

html,body{
    overflow-x: hidden;
    font-family: "regular";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    .error
{
    display:none;
    position: absolute;
    top: 2rem;
    right:1rem;
    animation-name: error;
    animation-duration: 0.3s;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
   
}
@keyframes error {
    from{
        transform: rotate(-5deg);

    }
    to{
        transform: rotate(2deg);
    }
}
.error p{
    /* border: 0.5px solid #721c24; */
    color: #721c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3rem 1rem;
    background-color: #f8d7da;
    border-radius: 10px;
}
.error p span{
    font-size: 1.2rem;
    margin-left:1rem;
    cursor: pointer;

}
/* start css of dasboard */
::placeholder{
    color: #ddd;
  }
  div.das{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "regular";
      width: 100%;
      height: 100vh;
      background-color: #5b38a4;
      display: flex;
      flex-direction: column;
      overflow: hidden;
  }  
   .nav{
     position:fixed;
     top: 0;
     /* left: 0; */
     width: 100%;
    padding: 0.2rem 0;
      background-color: #eaeaf4;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      z-index: 2000;

  }
  
  .nav .logo img{
    width:30px;
    height:30px;
    margin-left: 1rem;
        }
      .nav .textbox form{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 350px;
          margin-left: 5rem;
          
        }
        .nav .textbox form input{
          font-size: 0.9rem;
          padding: 0.4rem;
          width: 100%;
          outline: none;
          border: 0.5px solid #ddd;
         border-right: none;
        }
        .nav .textbox form button{
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          /* font-size: 0.9rem; */
          padding: 0.4rem;
          border: 0.5px solid #ddd;
          border-left: none;
        }
         .nav .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin-right: 2rem;
   
  }
   .nav .profile a{
    font-family: "regular";
    /* border: 1px solid red; */
    text-decoration: none;
    color: #576069;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   gap: 10px;
   transition: all 0.3s ease 0;
  }
   .nav .profile a:hover{
    color: #222629;
  }
  .nav .profile img{
    object-fit: cover;
      width: 40px;
      height: 40px;
border-radius: 50%;
box-shadow: -1px 1px 2px black;
  }
  .nav .profile .noty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8rem;
  }
  .nav .profile .noty_num{
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
  }
  .nav .profile:hover .sub_item{
    display: flex;
  }
 .nav .profile .sub_item{
      z-index: 1000;
    background-color: #eaeaf4;
    display: none;
    position: absolute;
    top:2.8rem;
    right:1rem;
    /* display: flex; */
    flex-direction: column;
    animation-name: pt;
    animation-duration: 0.3s;
  

  }
  @keyframes pt {
    from{
    /* transform: rotate(-5deg); */
    transform: translateY(30px);
}
to{
    /* transform: rotate(2deg); */
    transform: translateY(0px);
}
    
  }
   .nav .profile .sub_item a{
    padding: 0.2rem 0.8rem;
  
  }

  div.flex-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 3.5rem;

  }
  div.flex-1 .flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
   gap: 60px;
    /* background-color: #218de0; */
   
  }
  div.flex-1 .flex-row a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #218de0; */
    color: white;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
  }
  div.flex-1 .flex-row a .svg{
    position: relative;
    border-radius: 15px;
    padding: 1.3rem 1.7rem;
    background-color:#218de0 ;
    margin-bottom: 0.3rem;
  }
  div.flex-1 .flex-row a .svg .notification{
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: #ff5858;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobi{
    display: none;
    /* background-color:red; */
  }
    
/* end css of dasboard */

/* start of doc das sales */
.header{
  
  position: fixed;
  top: 2.8rem;
   width: 100%;
   color: #000000;
   font-size: 1.2rem;
   padding: 0.5rem 1rem;
   background-color: white;
   border-bottom: 0.5px solid #d1d8dd;
   /* background-color: red; */
}
.doc_das{
   /* position: relative; */
   width: 100%;
   display: flex;
   overflow-x: hidden;
   margin-top: 5.7rem;
}
.doc_das .left_doc{
   width: 15%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   overflow-x: hidden;
}
.doc_das .left_doc a{
   /* border: 1px solid red; */
   position: relative;
   width: 100%;
   display: block;
   padding: 0.4rem 1rem;
   text-decoration: none;
   color: #36414c;
   transition: all 0.3s ease 0s;
   cursor: pointer;
}
.doc_das .left_doc a:nth-child(1)
{
   background-color: #f7fafc; 
}
.doc_das .left_doc a span{
  display:inline-block;
  position: absolute;
  top: 0.5rem;
  right: 2.3rem;
}
.doc_das .left_doc a:hover{
   background-color: #f7fafc;
}
.doc_das .right_doc{
   width: 85%;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   border-left: 0.5px solid #d1d8dd;
}
.doc_das .right_doc .row{
   display: flex;
}
.doc_das .right_doc .row a{ 
 line-height: 1.2;
   padding: 0.8rem 1rem;
   width: 100%;
   text-decoration: none;
   color: #000000;
  /* border-left: 0.5px solid #d1d8dd; */
  border-bottom: 0.5px solid #d1d8dd;
  transition: all 0.3s ease 0s;
}
.doc_das .right_doc .row a:hover{
   background-color: #eaeaea;
}
.doc_das .right_doc .row a span{
   position: relative;
   font-size: 1.1rem;
   line-height: 3;
   font-weight: 400;
  
}
.doc_das .right_doc .row a p{
   color: #8d99a6;
   padding-bottom:0.5rem;
   margin: 0;
}
.doc_das .right_doc .row a .noty-doc{
   font-size: 0.8rem;
   position: absolute;
   padding: 0.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   top: -0.1rem;
   right: -2rem;
   background-color: #ff5858;
   color: white;
   width: 17px;
   height: 17px;
   border-radius: 50%;
}
/* end of sales das */

/* manage account das start*/
.header{
  width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.header .head_fst{
  display: flex;
flex-direction: row;
align-items: center;

}
.header span{
  font-size: 0.9rem;
  color: rgb(126, 121, 121);
  padding-left: 0.5rem;
}
.green_cir{
  margin-left: 1rem;
 background-color: #98d85b;
 border-radius: 50%;
 height: 8px;
 width: 8px;
}
.red_cir{
  margin-left: 1rem;
 background-color: #df5858;
 border-radius: 50%;
 height: 8px;
 width: 8px; 
}
.btn{
  text-decoration: none;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  
  cursor: pointer;
  border: none;
  /* line-height:1.7; */
  
}
.btn-p{
  background-color: #2b33ff;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.btn-p:hover{
  background-color: #686dfc;
  color: #fff;
}
.btn-m{
  background-color: #f0f4f7;
  color: #36414c;
  transition: all 0.3s ease 0s;
}
.btn-m:hover{
  background-color: #d1d2d3;
  color: #11161b;
}

.form_das{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5.9rem;
}
.form_das .left_form{
  position: relative;
  width: 15%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  padding-top: 0.8rem;
 
  /* background-color: red; */

}
.form_das .left_form .data{
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.form_das .left_form .data span{
  border-radius: 50%;
  background-color: #f0f4f7;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  color: rgb(7, 0, 0);
  margin-right: 0.2rem;
}
.form_das .left_form .edit{
  position: absolute;
  bottom: 0rem;
  left: 0;
  /* margin-top: 5rem; */
  font-size: 0.9rem;
  padding: 0.8rem;
  color: rgb(88, 85, 85);
}
.form_das .left_form .data a{
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}
.form_das .left_form .data a:hover{
  color: #6d6e70;
}
.form_das .right_form{
  width:85%;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid #ddd;
  background-color: #fafbfc;
}
.form_das .right_form .check{
  padding: 0.5rem;
  width: 100%;
  background-color: white;
}
.form_das .right_form .row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0.3rem 1rem;
  
}
.form_das .right_form .row .set-1{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 5px;
  padding-right: 1.5rem;
}
.form_das .right_form input,select,textarea{
  font-size: 1.01rem;
  border-radius: 5px;
  border: 0.5px solid #ddd;
  padding: 0.4rem 0.6rem;
  outline: none;
}
.succ
{
  z-index: 1000;
    display:none;
    position: absolute;
    top: 5rem;
    right:1rem;
    animation-name: succ;
    animation-duration: 0.3s;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
   
}
@keyframes succ {
    from{
        transform: rotate(-5deg);

    }
    to{
        transform: rotate(2deg);
    }
}
.succ p{
    /* border: 0.5px solid #721c24; */
    color: #155724;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3rem 1rem;
    background-color: #d4edda;
    border-radius: 10px;
}
.succ p span{
    font-size: 1.2rem;
    margin-left:1rem;
    cursor: pointer;

}
.attach{
  position: absolute;
  background-color: white;
  top: 0.1rem;
  left: 40%;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 3000;
  width: 250px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: -1px 2px 5px rgb(53, 52, 52);
}
.attach form{
  gap: 5px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.attach form input{
  /* font-size: 1.01rem; */
  border-radius: 5px;
  border: 0.5px solid #ddd;
  padding: 0.4rem 0.6rem;
  outline: none;
  /* width: 80%; */
}
.btn-c{
  background-color: #ff5858;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.btn-c:hover{
  background-color: #f72e2e;
  color: #fff;
}
.attach form .btn-set{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  gap: 10px;
  margin-left: -3rem;
}
/* manage account das end */



